%% -*- erlang -*-
%% Config file for exodemo application.

{deps,
 [
  {exoport, ".*", {git, "git://github.com/Feuerlabs/exoport.git", "1.3"}},
  {lager, ".*", {git, "git://github.com/basho/lager.git", "3.0.1"}},
  {kvdb, ".*", {git, "git://github.com/Feuerlabs/kvdb.git", "1.4.5"}}
 ]}.
{erl_opts, [{parse_transform, lager_transform}]}.
